In [3]:
import pandas as pd 

df = pd.read_csv("./dataset/matches.csv")

In [4]:
df.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
df[df["Season"] == "IPL-2017"].head(5)

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [6]:
df["city"].unique()

array(['Hyderabad', 'Pune', 'Rajkot', 'Indore', 'Bangalore', 'Mumbai',
       'Kolkata', 'Delhi', 'Chandigarh', 'Kanpur', 'Jaipur', 'Chennai',
       'Cape Town', 'Port Elizabeth', 'Durban', 'Centurion',
       'East London', 'Johannesburg', 'Kimberley', 'Bloemfontein',
       'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala', 'Kochi',
       'Visakhapatnam', 'Raipur', 'Ranchi', 'Abu Dhabi', 'Sharjah', nan,
       'Mohali', 'Bengaluru'], dtype=object)

In [7]:
df["city"].value_counts().keys()

Index(['Mumbai', 'Kolkata', 'Delhi', 'Bangalore', 'Hyderabad', 'Chennai',
       'Jaipur', 'Chandigarh', 'Pune', 'Durban', 'Bengaluru', 'Visakhapatnam',
       'Centurion', 'Ahmedabad', 'Rajkot', 'Mohali', 'Dharamsala', 'Indore',
       'Johannesburg', 'Ranchi', 'Cuttack', 'Abu Dhabi', 'Cape Town',
       'Port Elizabeth', 'Raipur', 'Sharjah', 'Kochi', 'Kanpur', 'Kimberley',
       'East London', 'Nagpur', 'Bloemfontein'],
      dtype='object')

In [27]:
dff = df["city"].value_counts()[0:7].to_dict()

In [28]:
dff

{'Mumbai': 101,
 'Kolkata': 77,
 'Delhi': 74,
 'Bangalore': 66,
 'Hyderabad': 64,
 'Chennai': 57,
 'Jaipur': 47}

In [30]:
cities = []
matches = []

for key, value in dff.items():
    cities.append(key)
    matches.append(value)

In [31]:
cities

['Mumbai', 'Kolkata', 'Delhi', 'Bangalore', 'Hyderabad', 'Chennai', 'Jaipur']

In [32]:
matches

[101, 77, 74, 66, 64, 57, 47]

# LifeDB Analysis

In [7]:
import pymongo
from pymongo import MongoClient
from datetime import date
import pandas as pd

cluster = MongoClient("mongodb+srv://admin:adminrocks@db01.i7iwq.gcp.mongodb.net/lifeworks?retryWrites=true&w=majority")
db = cluster["lifeworks"]
collection = db["diary"]

In [44]:
ls = list(collection.find({}))

In [68]:
ls[-1]

{'_id': 'Sep 29 2020',
 'excercise': True,
 'meditation': True,
 'study': 'Dash',
 'music': True,
 'book': True,
 'game': True,
 'Stress': False,
 'short story': "Very distracting and sleepy day. No positivity coming from inside, so I didn't feel like talking much. Otherwise, preety normal day."}

In [63]:
exercise_data = {'month' : [], 'number' : []}
months_set = set([])

for i in ls:
    months_set.add(i['_id'][0:3]+' '+i['_id'][-4:])

months = list(months_set)

In [64]:
months

['Sep 2020', 'Aug 2020']

In [74]:
exercise_data = {}

for m in months:
    c = 0
    for i in ls:
        if i['_id'][0:3]+' '+i['_id'][-4:] == m and i['excercise'] == True:
            c += 1
    print(f"Sessions in {m}: {c}")
    exercise_data[m] = c

print(exercise_data)

Sessions in Sep 2020: 19
Sessions in Aug 2020: 7
{'Sep 2020': 19, 'Aug 2020': 7}

In [75]:
dff = pd.DataFrame(list(exercise_data.items()),columns = ['Months','Exercise'])

In [76]:
dff

     Months  Exercise
0  Sep 2020        19
1  Aug 2020         7

In [89]:
sample_list = []

sample_list = [x for x in exercise_data.keys()]

In [90]:
sample_list

['Sep 2020', 'Aug 2020']

In [91]:
sample_list = []

sample_list = [x for x in exercise_data.values()]

In [92]:
sample_list

[19, 7]