Comparison Operators

In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'bye'

False

In [5]:
'Bye' == 'bye' # == is case sensitive

False

In [6]:
2.0 == 2

True

In [7]:
3 != 3

False

In [8]:
4 != 5

True

In [9]:
2 > 1

True

In [10]:
1 < 2

True

In [11]:
5 <=4

False

In [12]:
4 <= 5

True

In [13]:
5 <= 5

True

Logical Operators

In [14]:
1 < 2 < 3

True

In [15]:
1 < 2 > 3

False

In [16]:
1 < 3 and 2 < 3

True

In [17]:
'h' == 'h' and 2 == 2

True

In [18]:
1 == 1 or 2 == 2

True

In [19]:
1 == 1 or 2 == 3

True

In [20]:
not(1 == 1)

False

In [21]:
not(1 == 2)

True

Control Flow Statements

If, else and elif

In [27]:
hungry = False

if hungry:
    print ("Feed me")
else:
    print ("I'm not hungry")

I'm not hungry

In [30]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are good")

elif loc == 'Bank':
    print("Bank is here!")

else:
    print('I do not know much')

Bank is here!

In [31]:
name = 'Sammy'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('How are you Sammy ?')

How are you Sammy ?

For Loop

In [1]:
mylist = [1,2,3,4,5,6,7,8]

In [4]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8

In [5]:
for jelly in mylist:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [6]:
for num in mylist:
    #Check for even numbers
    if num % 2 == 0:
        print(num)

2
4
6
8

In [7]:
for num in mylist:
    #Check for even numbers
    if num % 2 != 0:
        print(num)

1
3
5
7

In [9]:
for num in mylist:
    #Check for even numbers
    if num % 2 == 0:
        print(f'Even Number: {num}')
    else:
        print(f'Odd number: {num}')

Odd number: 1
Even Number: 2
Odd number: 3
Even Number: 4
Odd number: 5
Even Number: 6
Odd number: 7
Even Number: 8

In [11]:
list_sum = 0

for sum in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

8
16
24
32
40
48
56
64

In [12]:
list_sum = 0

for sum in mylist:
    list_sum = list_sum + num
    
print(list_sum)

64

In [13]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [14]:
mystring = 'Hello World'
for _ in 'Hello World!':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [15]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [16]:
mylist = [(1,2),(3,4),(5,6),(7,8)] #Tuple pairs in a list

In [17]:
len(mylist)

4

In [19]:
for (a,b) in mylist: #Tuple unpacking
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [20]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [22]:
for a,b,c in mylist:
    print(b)

2
6
9

In [23]:
d = {'k1':1,'k2':2,'k3':3} #dictionary

In [24]:
for item in d:
    print(item)

k1
k2
k3

In [26]:
for key,value in d.items():
    print(value)

1
2
3

While Loops

In [29]:
x = 0

while x < 5:
    print(f'the current value of x is {x}')
    x = x + 1 # or x += 1
    
else:
    print('X is not less than 5')

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
X is not less than 5

break, continue, pass

In [31]:
x = [1,2,3]

for item in x:
    #comment

SyntaxError: unexpected EOF while parsing (<ipython-input-31-f9f8cc271a57>, line 4)

In [32]:
x = [1,2,3]

for item in x:
    pass # Can be placed as a placeholder

print('end of my script')

end of my script

In [33]:
mystring = 'Sammy'

In [34]:
for letter in mystring:
    if letter == 'a':
        continue # Goes back to For Loop without going to print statement
    print(letter)

S
m
m
y

In [35]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [37]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x = x + 1

0
1

Useful Operators

In [38]:
mylist = [1,2,3]

In [39]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [40]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [41]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [42]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [43]:
range(0,11,2)

range(0, 11, 2)

In [44]:
list(range(0,11,2)) # Casted to a list

[0, 2, 4, 6, 8, 10]

In [46]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [49]:
index_count = 0
word = 'abcde'

for item in enumerate(word): # Enumerate function outputs tuples
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [52]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [66]:
mylist1 = [1,2,3,4,5,6,7,8,9] # 6,7,8,9 are ignored while zipping
mylist2 = ['a','b','c','d','e']
mylist3 = [100,200,300,400,500]

In [68]:
for a,b,c in zip(mylist1,mylist2,mylist3): # Zip operator return tuples as an output
    print(b)

a
b
c
d
e

In [57]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [69]:
'x' in [1,2,3]

False

In [70]:
'x' in ['x','y','z']

True

In [71]:
'a'in 'a world'

True

In [72]:
'mykey' in {'mykey':435}

True

In [73]:
d = {'mykey':435}

345 in d.keys()

False

In [74]:
mylist = [10,20,30,40,100]

In [75]:
min(mylist)

10

In [76]:
max(mylist)

100

In [84]:
from random import randint,shuffle

In [78]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [79]:
shuffle(mylist) # It does not return anything,

In [80]:
mylist

[8, 3, 5, 10, 1, 9, 6, 4, 7, 2]

In [86]:
randint(0,100)

31

In [87]:
mynum = randint(0,10) # Returns a number so can be saved

In [88]:
mynum

0

In [99]:
result = int(input('Enter a number here: ')) # Input always accepts String #int casting can be also done before

Enter a number here: 100

In [93]:
type(result)

str

In [96]:
result = float(result)

In [97]:
type(result)

float

In [98]:
result

56.0

In [102]:
mystring = 'hello'
mylist = []

for letter in mystring:
    mylist.append(letter)

In [103]:
mylist

['h', 'e', 'l', 'l', 'o']

In [104]:
mystring = 'hello'
mylist = [letter for letter in mystring]

In [105]:
mylist

['h', 'e', 'l', 'l', 'o']

In [108]:
mylist = [x for x in 'wordtwo'] # x can be replaced with anything as it is just a place holder.

In [109]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [110]:
mylist = [x for x in range(0,11)]

In [111]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [112]:
mylist = [num**2 for num in range(0,11)]

In [113]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [116]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]

In [117]:
mylist

[0, 4, 16, 36, 64, 100]

In [118]:
celcius = [0,10,34.5,20]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [119]:
fahrenheit

[32.0, 50.0, 94.1, 68.0]

In [121]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

In [122]:
fahrenheit

[32.0, 50.0, 94.1, 68.0]

In [123]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]

In [124]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [125]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [126]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [127]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [128]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]